#container
{
	left: 0px !important; right: 0px !important; bottom: 0px !important; top: 0px !important;
}
#content
{
	left: 0px !important; right: 0px !important; bottom: 0px !important; top: 0px !important;
}
#list
{
	cursor: pointer;
	padding : 30px;
	margin : 0px !important;border-bottom : 1px solid rgba(34, 36, 38, 0.15) !important;
}
#list:last-child
{
	cursor: pointer;
	padding : 30px;
	margin : 0px !important;
}
#notebook_list_item
{
	cursor: pointer;
	padding : 30px;
	margin : 0px !important;border-bottom : 1px solid rgba(34, 36, 38, 0.15) !important;
}
#notebook_list_item:last-child
{
	cursor: pointer;
	margin : 0px !important;border-bottom : 1px solid rgba(34, 36, 38, 0.15) !important;
	padding : 30px;
}
#notebook_add_container
{
	cursor: pointer;
	margin : 0px !important;
	background-color: #eee;
}
#notebook_add_container:last-child
{
	margin : 0px !important;border-bottom : 0 !important;
}
#note_add_container
{
	cursor: pointer;
	margin : 0px !important;
	background-color: #eee;
}
#note_add_container:last-child
{
	margin : 0px !important;border-bottom : 0 !important;
}
.bottom_line
{
	margin : 0px !important;border-bottom : 1px solid rgba(34, 36, 38, 0.15) !important;
}
.bg_color_eee
{
	background-color: #eee !important;
}
.sidebar{
	box-shadow :none !important;
}
#project_list_container{
	overflow-y : auto !important;
	height : 850px;
}

#notebook_list,#sub_list{
	margin : 0px;
	overflow-y: auto !important;
	/* min-height:700px;max-height:700px;height: 700px; */
}